* {
  text-align: center;
}

[class*=lw-box-] {
  background-color: blue;
  border: 5px solid darkblue;

  margin: 10px auto;
}

[class*=lw-group-]{
  background-color: red;
  border: 5px solid darkred;
}

[class*="lw-cell-"] {
  background-color: green;
  border: 5px solid darkgreen;
}
