* {
  text-align: center;
}

.lw-box {
  background-color: blue;
  border: 5px solid darkblue;

  margin: 10px auto;
}

.lw-group {
  background-color: red;
  border: 5px solid darkred;
}

[class*="lw-cell-"] {
  background-color: green;
  border: 5px solid darkgreen;
}
