/* lattice-12.scss contents
@import "_core";
@import "_util";

body {
  margin: 0;
}

@include latticeworks-init;
@include lw-cells(12);
@include lw-cells-adjust(12, 750px, 6);
@include lw-cells-adjust-all(12, 630px);

@include lw-bar(12);

@include lattice(12);

@include lattice-static(12, 1200px);
@include lattice-static-cutoff(12, 1250px, 960px);
@include lattice-static-cutoff(12, 1000px, 720px);
@include lattice-static-cutoff(12, 750px, 600px);
@include lattice-static-cutoff(12, 630px, 90%);
*/
/* clearfix */
.lw-group::before, .lw-box::before, .lw-box-fluid::before, .clearfix::before, .lw-group::after, .lw-box::after, .lw-box-fluid::after, .clearfix::after {
  display: table;
  content: " "; }
.lw-group, .lw-box, .lw-box-fluid, .clearfix, .lw-group::after, .lw-box::after, .lw-box-fluid::after, .clearfix::after {
  clear: both; }

.lw-float-left {
  float: left !important; }

.lw-float-right {
  float: right !important; }

.lw-cell-12-1, .lw-cell-12-2, .lw-cell-12-3, .lw-cell-12-4, .lw-cell-12-5, .lw-cell-12-6, .lw-cell-12-7, .lw-cell-12-8, .lw-cell-12-9, .lw-cell-12-10, .lw-cell-12-11, .lw-cell-12-12 {
  position: relative;
  min-height: 1px;
  float: left; }

/* Latticework group styles */
.lw-group {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px; }

.lw-box, .lw-box-fluid {
  margin-left: auto;
  margin-right: auto;
  min-height: 1px; }

col.lw-cell-12-1, th.lw-cell-12-1, td.lw-cell-12-1, col.lw-cell-12-2, th.lw-cell-12-2, td.lw-cell-12-2, col.lw-cell-12-3, th.lw-cell-12-3, td.lw-cell-12-3, col.lw-cell-12-4, th.lw-cell-12-4, td.lw-cell-12-4, col.lw-cell-12-5, th.lw-cell-12-5, td.lw-cell-12-5, col.lw-cell-12-6, th.lw-cell-12-6, td.lw-cell-12-6, col.lw-cell-12-7, th.lw-cell-12-7, td.lw-cell-12-7, col.lw-cell-12-8, th.lw-cell-12-8, td.lw-cell-12-8, col.lw-cell-12-9, th.lw-cell-12-9, td.lw-cell-12-9, col.lw-cell-12-10, th.lw-cell-12-10, td.lw-cell-12-10, col.lw-cell-12-11, th.lw-cell-12-11, td.lw-cell-12-11 {
  position: static;
  float: none; }

body {
  margin: 0; }

* {
  box-sizing: border-box; }

.lw-cell-12-1 {
  width: 8.33333%; }

.lw-cell-12-2 {
  width: 16.66667%; }

.lw-cell-12-3 {
  width: 25%; }

.lw-cell-12-4 {
  width: 33.33333%; }

.lw-cell-12-5 {
  width: 41.66667%; }

.lw-cell-12-6 {
  width: 50%; }

.lw-cell-12-7 {
  width: 58.33333%; }

.lw-cell-12-8 {
  width: 66.66667%; }

.lw-cell-12-9 {
  width: 75%; }

.lw-cell-12-10 {
  width: 83.33333%; }

.lw-cell-12-11 {
  width: 91.66667%; }

.lw-cell-12-12 {
  width: 100%; }

@media screen and (max-width: 750px) {
  .lw-cell-12-1 {
    width: 16.66667%; }

  .lw-cell-12-2 {
    width: 33.33333%; }

  .lw-cell-12-3 {
    width: 50%; }

  .lw-cell-12-4 {
    width: 66.66667%; }

  .lw-cell-12-5 {
    width: 83.33333%; }

  .lw-cell-12-6, .lw-cell-12-7, .lw-cell-12-8, .lw-cell-12-9, .lw-cell-12-10, .lw-cell-12-11, .lw-cell-12-12 {
    width: 100%; } }
@media screen and (max-width: 630px) {
  .lw-cell-12-1, .lw-cell-12-2, .lw-cell-12-3, .lw-cell-12-4, .lw-cell-12-5, .lw-cell-12-6, .lw-cell-12-7, .lw-cell-12-8, .lw-cell-12-9, .lw-cell-12-10, .lw-cell-12-11, .lw-cell-12-12 {
    width: 100%; } }
.lw-box {
  width: 1200px; }
  @media screen and (max-width: 1250px) {
    .lw-box {
      width: 960px; } }
  @media screen and (max-width: 1000px) {
    .lw-box {
      width: 720px; } }
  @media screen and (max-width: 750px) {
    .lw-box {
      width: 600px; } }
  @media screen and (max-width: 630px) {
    .lw-box {
      width: 90%; } }

.lw-box-fluid {
  width: auto; }

table {
  width: 100%; }

table::before, table::after {
  display: none !important; }

col.lw-cell-12-1, th.lw-cell-12-1, td.lw-cell-12-1 {
  width: 8.33333% !important; }
col.lw-cell-12-2, th.lw-cell-12-2, td.lw-cell-12-2 {
  width: 16.66667% !important; }
col.lw-cell-12-3, th.lw-cell-12-3, td.lw-cell-12-3 {
  width: 25% !important; }
col.lw-cell-12-4, th.lw-cell-12-4, td.lw-cell-12-4 {
  width: 33.33333% !important; }
col.lw-cell-12-5, th.lw-cell-12-5, td.lw-cell-12-5 {
  width: 41.66667% !important; }
col.lw-cell-12-6, th.lw-cell-12-6, td.lw-cell-12-6 {
  width: 50% !important; }
col.lw-cell-12-7, th.lw-cell-12-7, td.lw-cell-12-7 {
  width: 58.33333% !important; }
col.lw-cell-12-8, th.lw-cell-12-8, td.lw-cell-12-8 {
  width: 66.66667% !important; }
col.lw-cell-12-9, th.lw-cell-12-9, td.lw-cell-12-9 {
  width: 75% !important; }
col.lw-cell-12-10, th.lw-cell-12-10, td.lw-cell-12-10 {
  width: 83.33333% !important; }
col.lw-cell-12-11, th.lw-cell-12-11, td.lw-cell-12-11 {
  width: 91.66667% !important; }

/*# sourceMappingURL=lattice-12.css.map */
