---
---
@import "latticeworks/_core", "latticeworks/_forms", "latticeworks/_tables";

$breakpt_1: 1200px;
$breakpt_2: 750px;
$breakpt_3: 600px;

body {
  margin: 0;
}

@include latticeworks-init;

@include lw-cells(12);
@include lw-cells-adjust-at(12, $breakpt_2, 6);
@include lw-cells-adjust-at(12, $breakpt_3, 1);

.lw-group {
  @include lw-group;
}

.lw-box {
  @include lw-box { width: 960px; }
  @include lw-resize-at($breakpt_1, 80%);
  @include lw-resize-at($breakpt_2, 600px);
  @include lw-resize-at($breakpt_3, 100%);
}

.lw-box-fluid {
  @extend %lw-box;
  width: auto;
}

@include lw-tablefix;
@include lw-tablecells(12);

.lw-form-field {
  @include lw-form-field;
}

.clearfix {
  @extend %clearfix;
}

@import "_lw-examples";
