/* lattice-12.scss contents
@import "_core";

body {
  margin: 0;
}

@include latticeworks-init;
@include lw-cells(12);
@include lw-cells-adjust(12, 750px, 6);
@include lw-cells-adjust-all(12, 630px);

@include lw-bar(12);

@include lattice(12);

@include lattice-static(12, 1200px);
@include lattice-static-cutoff(12, 1250px, 960px);
@include lattice-static-cutoff(12, 1000px, 720px);
@include lattice-static-cutoff(12, 750px, 600px);
@include lattice-static-cutoff(12, 630px, 90%);
*/
/* clearfix */
.lw-box-12:before, .lw-box-static-12:before, .lw-group:before, .lw-form-12:before, .clearfix:before, .lw-box-12:after, .lw-box-static-12:after, .lw-group:after, .lw-form-12:after, .clearfix:after {
  display: table;
  content: " "; }
.lw-box-12, .lw-box-static-12, .lw-group, .lw-form-12, .clearfix, .lw-box-12:after, .lw-box-static-12:after, .lw-group:after, .lw-form-12:after, .clearfix:after {
  clear: both; }

.lw-float-right {
  float: right; }

/* Property resets */
/* Latticework cell styles */
.lw-cell-12-1, .lw-cell-12-2, .lw-cell-12-3, .lw-cell-12-4, .lw-cell-12-5, .lw-cell-12-6, .lw-cell-12-7, .lw-cell-12-8, .lw-cell-12-9, .lw-cell-12-10, .lw-cell-12-11, .lw-cell-12-12 {
  position: relative;
  min-height: 1px;
  float: left; }

/* Latticework group styles */
/* Latticework lattice styles */
.lw-box-12, .lw-box-static-12 {
  margin-left: auto;
  margin-right: auto;
  min-height: 1px; }

/* clearfix */
.lw-box-12:before, .lw-box-static-12:before, .lw-group:before, .lw-form-12:before, .clearfix:before, .lw-box-12:after, .lw-box-static-12:after, .lw-group:after, .lw-form-12:after, .clearfix:after {
  display: table;
  content: " "; }
.lw-box-12, .lw-box-static-12, .lw-group, .lw-form-12, .clearfix, .lw-box-12:after, .lw-box-static-12:after, .lw-group:after, .lw-form-12:after, .clearfix:after {
  clear: both; }

.lw-float-right {
  float: right; }

body {
  margin: 0; }

* {
  box-sizing: border-box; }

.lw-cell-12-1 {
  width: 8.33333%; }

.lw-cell-12-2 {
  width: 16.66667%; }

.lw-cell-12-3 {
  width: 25%; }

.lw-cell-12-4 {
  width: 33.33333%; }

.lw-cell-12-5 {
  width: 41.66667%; }

.lw-cell-12-6 {
  width: 50%; }

.lw-cell-12-7 {
  width: 58.33333%; }

.lw-cell-12-8 {
  width: 66.66667%; }

.lw-cell-12-9 {
  width: 75%; }

.lw-cell-12-10 {
  width: 83.33333%; }

.lw-cell-12-11 {
  width: 91.66667%; }

.lw-cell-12-12 {
  width: 100%; }

@media screen and (max-width: 750px) {
  .lw-cell-12-1 {
    width: 16.66667%; }

  .lw-cell-12-2 {
    width: 33.33333%; }

  .lw-cell-12-3 {
    width: 50%; }

  .lw-cell-12-4 {
    width: 66.66667%; }

  .lw-cell-12-5 {
    width: 83.33333%; }

  .lw-cell-12-6, .lw-cell-12-7, .lw-cell-12-8, .lw-cell-12-9, .lw-cell-12-10, .lw-cell-12-11, .lw-cell-12-12 {
    width: 100%; } }
@media screen and (max-width: 630px) {
  .lw-cell-12-1, .lw-cell-12-2, .lw-cell-12-3, .lw-cell-12-4, .lw-cell-12-5, .lw-cell-12-6, .lw-cell-12-7, .lw-cell-12-8, .lw-cell-12-9, .lw-cell-12-10, .lw-cell-12-11, .lw-cell-12-12 {
    width: 100%; } }
.lw-group {
  position: relative;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px; }

.lw-box-static-12 {
  width: 1200px; }

@media screen and (max-width: 1250px) {
  .lw-box-static-12 {
    width: 960px; } }
@media screen and (max-width: 1000px) {
  .lw-box-static-12 {
    width: 720px; } }
@media screen and (max-width: 750px) {
  .lw-box-static-12 {
    width: 600px; } }
@media screen and (max-width: 630px) {
  .lw-box-static-12 {
    width: 90%; } }
.lw-field-12-1, .lw-field-12-2, .lw-field-12-3, .lw-field-12-4, .lw-field-12-5, .lw-field-12-6, .lw-field-12-7, .lw-field-12-8, .lw-field-12-9, .lw-field-12-10, .lw-field-12-11, .lw-field-12-12 {
  float: left; }
  .lw-field-12-1 > input, .lw-field-12-2 > input, .lw-field-12-3 > input, .lw-field-12-4 > input, .lw-field-12-5 > input, .lw-field-12-6 > input, .lw-field-12-7 > input, .lw-field-12-8 > input, .lw-field-12-9 > input, .lw-field-12-10 > input, .lw-field-12-11 > input, .lw-field-12-12 > input,
  .lw-field-12-1 > textarea,
  .lw-field-12-2 > textarea,
  .lw-field-12-3 > textarea,
  .lw-field-12-4 > textarea,
  .lw-field-12-5 > textarea,
  .lw-field-12-6 > textarea,
  .lw-field-12-7 > textarea,
  .lw-field-12-8 > textarea,
  .lw-field-12-9 > textarea,
  .lw-field-12-10 > textarea,
  .lw-field-12-11 > textarea,
  .lw-field-12-12 > textarea {
    display: block;
    width: 100%; }

.lw-field-12-1 {
  width: 8.33333%; }

.lw-field-12-2 {
  width: 16.66667%; }

.lw-field-12-3 {
  width: 25%; }

.lw-field-12-4 {
  width: 33.33333%; }

.lw-field-12-5 {
  width: 41.66667%; }

.lw-field-12-6 {
  width: 50%; }

.lw-field-12-7 {
  width: 58.33333%; }

.lw-field-12-8 {
  width: 66.66667%; }

.lw-field-12-9 {
  width: 75%; }

.lw-field-12-10 {
  width: 83.33333%; }

.lw-field-12-11 {
  width: 91.66667%; }

.lw-field-12-12 {
  width: 100%; }

col.lw-cell-12-1, th.lw-cell-12-1, td.lw-cell-12-1, col.lw-cell-12-2, th.lw-cell-12-2, td.lw-cell-12-2, col.lw-cell-12-3, th.lw-cell-12-3, td.lw-cell-12-3, col.lw-cell-12-4, th.lw-cell-12-4, td.lw-cell-12-4, col.lw-cell-12-5, th.lw-cell-12-5, td.lw-cell-12-5, col.lw-cell-12-6, th.lw-cell-12-6, td.lw-cell-12-6, col.lw-cell-12-7, th.lw-cell-12-7, td.lw-cell-12-7, col.lw-cell-12-8, th.lw-cell-12-8, td.lw-cell-12-8, col.lw-cell-12-9, th.lw-cell-12-9, td.lw-cell-12-9, col.lw-cell-12-10, th.lw-cell-12-10, td.lw-cell-12-10, col.lw-cell-12-11, th.lw-cell-12-11, td.lw-cell-12-11, col.lw-cell-12-12, th.lw-cell-12-12, td.lw-cell-12-12 {
  position: static;
  float: none; }

/*# sourceMappingURL=lattice-12.css.map */
