/* lattice-12.scss contents
@import "_core";
@import "_util";

body {
  margin: 0;
}

@include latticeworks-init;
@include lw-cells(12);
@include lw-cells-adjust(12, 750px, 6);
@include lw-cells-adjust-all(12, 630px);

@include lw-bar(12);

@include lattice(12);

@include lattice-static(12, 1200px);
@include lattice-static-cutoff(12, 1250px, 960px);
@include lattice-static-cutoff(12, 1000px, 720px);
@include lattice-static-cutoff(12, 750px, 600px);
@include lattice-static-cutoff(12, 630px, 90%);
*/

@import "core", "forms", "tables";

body {
  margin: 0;
}

@include latticeworks-init;

@include lw-cells(12);
@include lw-cells-adjust-at(12, 750px, 6);
@include lw-cells-adjust-at(12, 630px, 1);

@include lw-group;

@include lw-box {
  width: 1200px;
  @include lw-resize-at(1250px, 960px);
  @include lw-resize-at(1000px, 720px);
  @include lw-resize-at(750px, 600px);
  @include lw-resize-at(630px, 90%);
}

.lw-box-fluid {
  @extend %lw-box;
  width: auto;
}

@include lw-form(12);

@include lw-tablefix(12);

.clearfix {
  @extend %clearfix;
}
