@import 'latticeworks/core';
@import 'latticeworks/tables';

@include latticeworks-init;
@include lw-cells('lw-cell', 12);
@include lw-cells-adjust-at('lw-cell', 12, $on-palm, 6);
@include lw-cells-adjust-at('lw-cell', 12, 400px, 1);

.lw-group {
  @include lw-group;
}

@include lw-table;
@include lw-tablecells('lw-cell', 12);

.main-section {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;

  &:first-child {
    border-top: 5px solid $grey-color-dark;
  }

  .clean & {
    padding: $spacing-unit/2 0;

    &:first-child {
      @media print {
        border-top: none;
      }
    }
  }
}

/**
 * Wrapper
 */
.wrapper {
    @extend %lw-box;
    max-width: $content-width;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Site header
 */
.site-header {
    min-height: 56px;
    padding-top: 0px;
    padding-bottom: 0px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            padding: 10px;

            line-height: 0;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
  font-size: $small-font-size;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Page content
 */
.page-content { }

.page-heading {
    font-size: 20px;
}
