h3,
.example {
  &::before,
  &::after {
    display: table;
    content: "";
  }

  &,
  &::after {
    clear: both;
  }
}

.example {
  width: 100%;
  position: relative;
  min-height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;

  [class*="lw-cell-"] {
    background-color: green;
    border: 5px solid darkgreen;

    text-align: center;
  }

  table {
    &.ex-lw-cells {
      width: 100%;
    }

    &.ex-lw-cells,
    &.lw-box,
    &.lw-group {
      th, td {
        text-align: center;
      }
    }
  }

  .lw-box {
    background-color: blue;
    border: 5px solid darkblue;

    margin: 10px auto;
    width: 0.8 * 960px;
    @include lw-resize-at(1200px, 80%);
    @include lw-resize-at(750px, 480px);
    @include lw-resize-at(600px, 80%);
  }

  .lw-group {
    background-color: red;
    border: 5px solid darkred;
  }
}
